body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
}

.grid-item {
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }